{
  "execution_mode": "MetaTrader5",
  "trading_symbol": "XAUUSD",
  "timeframe": "5m",
  "ema_fast": 3,
  "ema_slow": 8,
  "use_vol_filter": true,
  "use_atr_filter": true,
  "bar_count": 300,
  "initial_balance": 10000.0,
  "ftmo_sod_balance": 10000.0,
  "mt5_account": "YOUR_ACCOUNT_NUMBER",
  "mt5_password": "YOUR_PASSWORD",
  "mt5_server": "FTMO-Demo",
  "mt5_path": "",
  "daily_reset_time": "00:00",
  "telegram_bot_token": "",
  "telegram_chat_id": "",
  "gmail_sender": "",
  "gmail_app_password": "",
  "gmail_receiver": "",
  "alert_telegram": true,
  "alert_email": true,
  "alert_sound": true,
  "alert_desktop": true,
  "notify_on_hold": true,
  "notify_on_scheduler_start": true
}
